body {
	padding-bottom: 30px;
}
h1 a {
	text-decoration: underline;
}
.nav-tabs-code {
	margin-top: 30px;
	margin-bottom: 10px;
}
.prettyprint {
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	max-height: 400px;
}